* {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}
header{
    background-color: rgb(40, 67, 67);
    color : black;
    height: 300px;
    text-align : center;
    padding-top: 100px;
}