* {
    box-sizing: border-box;
    background-repeat : no-repeat; 
}
html{
    scroll-behavior: smooth;
}
body {    
    background-size : cover; 
    background-color: rgb(250, 192, 182);
} 
.footer { 
    background-image : url(space.gif);
    background-size : cover;
} 

.grid{
    opacity : 0.6;
}
.top {
    display : flex;
    gap : 20px;
    justify-content: flex-end;
    margin-top : 20px;
}
.lightbox{
    position: relative;
    top: 10px;
}
.main {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height : 400px;
    gap : 20px;
    margin-top : 35px;
    /* margin-bottom : 300px; */
}
.google_image:hover{
    cursor:pointer;
}
input {
    width : 560px;
    border-radius: 20px;
    height : 41px;
    border-color: rgb(238, 236, 236);
    border-top-color: rgb(238, 236, 236);
    transition: background-color 1s;
}
input:hover{
    background-color: rgb(246, 235, 235);
}
.mid {
    display : flex;
    flex-direction: row;
    gap : 20px;
}
.footer {
    /* position : fixed; */
    bottom : 0px;
    left : 0px;
    right : 0px;
    display : flex;
    flex-direction: column;
    /* margin-top : 112px; */
    margin-top : 160px;
    padding-left : 30px;
    padding-top : 20px;
    height : 70px;
    justify-content: end;
    background-color: #cdc8f9;
    border : 2px solid #503ef0;
    width : 100%;
}
.right {
    display : flex;
    justify-content :flex-end;
    /* width : 1200px; */
    gap : 30px;
    margin-right : 30px;
}
h4 {
    font-weight : normal;
    font-size : 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color : #3c4043;
}
.left1{
    display: flex;
    gap : 25px;
}
.language{
    display : flex;
}
strong {
    display : flex;
    flex-direction: row;
    gap : 10px;
    color :#1a0dab;
    font-size : small;
    font-weight : normal;
}
strong:hover{
    cursor:pointer;
    text-decoration: underline;
}
#btn:hover{
    cursor : pointer;
    filter : brightness(90%);
}
#btn{
    background-color: rgb(115, 115, 246);
    color : white;
    height : 40px;
    padding-left : 20px;
    padding-right : 20px;
    padding-bottom : 5px;
    padding-top : 5px;
    border-radius: 5px;
    border-color: rgb(16, 16, 239);
    font-family: Google Sans,Roboto,Helvetica,Arial,sans-serif;
}
a{
    text-decoration: none;
    font-family:arial,sans-serif;
    font-size : 14px;
}
img{
    margin-bottom : 10px;
}
a:hover{
    text-decoration: underline;
}
span{
    color : #4d5156;
    font-size : small;
    font-family: arial,sans-serif;
}
.mid {
    color : #3c4043;
    font-family : arial,sans-serif;
}
.vary {
    text-decoration: none;
    border : 1px solid #f8f9fa;
    padding : 10px;
    /*                                                     IMP                                                        */
}
.vary:hover{
    cursor:pointer;
    border : 1px solid rgb(134, 129, 129);
}
.gmail{
    margin-top : 10px;
}
.images{
    margin-top : 10px;
}
.image{
    margin-top : 5px;
}
.srch{
    text-align: center;
}
